.view-id-select_country input[type=radio] {
display:none;
}
 
.view-id-select_country input[type=radio] + label
{

height: 16px;
width: 120px;
display:inline-block;
padding: 0 0 0 0px;
color:#fff;
}
.view-id-select_country input[type=radio]:checked + label
{

height: 16px;
width: 120px;
display:inline-block;
padding: 0 0 0 0px;
color:#fff;
background-color: #000;
}

.view-id-select_country .view-filters {
    background: #252525;
}

.view-id-select_country table td[class*="col-"], table th[class*="col-"] {
    border: 0;
}